{% extends "layout.html" %}

{% block main %}
<main class="valign-wrapper">
    <div 
        id="div-container"
        class="container center-align"
    >
        <h1 style="font-weight: lighter;">
            404
        </h1>
        <h4 style="padding-bottom: 16px; font-weight: lighter; overflow-wrap: break-word;">
            Stránka sa nenašla!
        </h4>
        <a
            href="index"
            class="waves-effect waves-light btn-flat grey lighten-3 black-text {{ 'tooltipped' if not request.MOBILE }}"
            data-position="bottom"
            data-tooltip="Späť na domovskú obrazovku"
            style="border-radius: 32px;"
        >
            <i class="material-icons left">home</i>
            Domov
        </a>
    </div>
</main>
{% endblock %}

{% block extra_styles %}
<style>
    html, body, main {
        height: 100%;
    }
    #nav-normal {
        display: block !important;
    }
</style>
{% endblock %}