{% extends "layout.html" %}

{% block google_meta %}
<meta name="google-site-verification" content="{{google_site_verification}}" />
{% endblock %}

{% block header_extra %}
<ul id="slide-out" class="sidenav sidenav-fixed">
    {% for key, value in actions.items() %}
    <li>
        <a href="#{{ value.anchor }}" class="sidenav-close">
            <i class="material-icons">{{ value.icon }}</i>
            {{ value.short_name }}
        </a>
    </li>
    {% endfor %}
    <li><div class="divider"></div></li>
    <li>
        <a href="#kontakt" class="sidenav-close">
            <i class="material-icons">contact_page</i>
            Kontakt
        </a>
    </li>
</ul>
{% endblock %}

{% block main %}
<main>
    <div id="uvod" style="position: relative; text-align: center;">
        <img 
            src="{{ url_for('static', filename='top.jpg') }}"
            style="height: 100%; width: 100%; object-fit: cover;"
        />
        <div class="top-container">
            <img class="top-img" src="{{ url_for('static', filename='logo_center.png') }}" />
            <div id="p-container">
                {% for item in intro %}
                <p class="white-text responsive-top-text">
                    {{ item }}
                </p>
                {% endfor %}
            </div>
        </div>
        <a href="#oprava-spotrebnej-elektroniky" class="top-icon-container">
            <div id="details">
                <span class="white-text" style="display: block;">Podrobnosti</span>
                <i class="white-text material-icons responsive-top-icon">expand_more</i>
            </div>
        </a>
    </div>
    {% for key, value in actions.items() %}
    <div id="{{ value.anchor }}">
        <div class="parallax-container">
            <!-- Desktop only -->
            <div class="parallax hide-on-med-and-down">
                <img
                    src="{{ url_for('static', filename=value['image']) }}"
                    alt="Parallax {{value.short_name}}"
                >
            </div>
            <!-- Tablet and Mobile -->
            <div class="parallax hide-on-large-only">
                <img
                    src="{{ url_for('static', filename=value['image']) }}"
                    alt="Parallax {{value.short_name}}"
                    class="static-parallax"
                >
            </div>
            <!-- end -->
        </div>
        <div class="section white z-depth-5">
            <div class="row container">
                <!-- Mobile header -->
                <h4 class="header hide-on-med-and-up" style="font-weight: lighter;">{{ key }}</h4>
                <!--- Tablet and Desktop header -->
                <h2 class="header hide-on-small-only" style="font-weight: lighter;">{{ key }}</h2>
                <!-- end-->
                <p class="grey-text text-darken-3 lighten-3">
                    <ul>
                        {% for item in value['items'] %}
                        <li>
                            <img
                                class="responsive-marker"
                                src="{{ url_for('static', filename='circle.png') }}"
                            />
                            <span class="action-item">{{ item }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Mobile and Tablet action buttons -->
    <div class="hide-on-large-only">
        <div
            id="fab-mobile-tablet"
            class="fixed-action-btn"
            style="display:none; bottom: 88px; right: 28px;"
        >
            <a 
                href="{{ go_to }}"
                class="btn-floating btn-small grey darken-1"
            >
                <i class="material-icons">arrow_upward</i>
            </a>
        </div>
        <div
            class="fixed-action-btn"
            style="bottom: 16px; right: 16px;"
        >
            <a 
                href="#kontakt"
                class="btn-floating btn-large blue darken-2"
            >
                <i class="material-icons">perm_phone_msg</i>
            </a>
        </div>
    </div>
    <!-- Desktop action button -->
    <div
        id="fab-desktop"
        class="fixed-action-btn hide-on-med-and-down"
        style="display:none;"
    >
        <a 
            href="{{ go_to }}"
            class="btn-floating btn-large blue darken-2 tooltipped"
            data-position="left"
            data-tooltip="Prejsť na začiatok"
        >
            <i class="material-icons">arrow_upward</i>
        </a>
    </div>
    <!-- end -->
</main>
{% endblock %}

{% block footer %}
<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="col s12">
            <div id="kontakt" class="card {{ 'hoverable' if not request.MOBILE }}">
                <div class="card-content black-text">
                    <iframe
                        class="map"
                        loading="lazy"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=17.219,47.784,18.268,48.54&layer=mapnik&marker=48.164536066774424,17.743565037899195">
                    </iframe>
                    <span class="card-title" style="padding-top: 16px;">Kontaktné informácie</span>
                    <!-- Desktop ad Tablet contact -->
                    <div class="row valign-wrapper hide-on-small-only">
                        <div class="col s6">
                            <div class="container center-align">
                                <i class="material-icons">pin_drop</i>
                                <div>
                                    <p>Firma Tibor Modroczky</p>
                                    <p>Diakovská 712</p>
                                    <p>925 01 Matúškovo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="container center-align">
                                <p class="valign-wrapper">
                                    <i class="material-icons">email</i>
                                    <a
                                        href="mailto:modroczkyt@gmail.com"
                                        class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                        data-position="right"
                                        data-tooltip="Poslať e-mail"
                                    >
                                        modroczkyt@gmail.com
                                    </a>
                                </p>
                                <p class="valign-wrapper">
                                    <i class="material-icons">call</i>
                                    <a 
                                        href="tel:0317826228"
                                        class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                        data-position="right"
                                        data-tooltip="Zavolať na telefón"
                                    >
                                        031 782 6228
                                    </a>
                                </p>
                                <p class="valign-wrapper">
                                    <i class="material-icons">smartphone</i>
                                    <a 
                                        href="tel:+421905460506"
                                        class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                        data-position="right"
                                        data-tooltip="Zavolať na mobil"
                                    >
                                        0905 460 506
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--  Mobile contact -->
                    <div class="hide-on-med-and-up">
                        <div class="container">
                            <div>
                                <p>Firma Tibor Modroczky</p>
                                <p>Diakovská 712</p>
                                <p>925 01 Matúškovo</p>
                            </div>
                            <p class="valign-wrapper">
                                <i class="material-icons">email</i>
                                <a
                                    href="mailto:modroczkyt@gmail.com"
                                    class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                    data-position="right"
                                    data-tooltip="Poslať e-mail"
                                >
                                    modroczkyt@gmail.com
                                </a>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">call</i>
                                <a 
                                    href="tel:0317826228"
                                    class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                    data-position="right"
                                    data-tooltip="Zavolať na telefón"
                                >
                                    031 782 6228
                                </a>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">smartphone</i>
                                <a 
                                    href="tel:+421905460506"
                                    class="contact-padding {{ 'tooltipped' if not request.MOBILE }}"
                                    data-position="right"
                                    data-tooltip="Zavolať na mobil"
                                >
                                    0905 460 506
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <div class="card-action">
                    <a 
                        href="https://www.google.com/maps/search/?api=1&query=48.164536066774424,17.743565037899195"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="blue-text text-darken-2"
                    >
                        Otvoriť v Google Maps
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            
            <a
                href="http://www.klamont.sk/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img style="height: 48px;" src="{{ url_for('static', filename='klamont_logo.png') }}"/>
            </a>
            <blockquote style="border-left: 5px solid #757575;">
                All photographs on this site are used for illustration purposes only and
                their contents do not endorse any activities provided by Firma Tibor Modroczky.
                The photographs are licensed under the
                <a
                    href="https://www.pexels.com/license/" 
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Pexels License
                </a> or
                <a
                    href="https://creativecommons.org/publicdomain/zero/1.0/"
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    CC0 License
                </a>
                and do not require attribution.
            </blockquote>
        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container center-align">
            <!-- Desktop only -->
            <span
                class="left hide-on-med-and-down"
            >
                © 2022 Viktor Modroczký
            </span>
            <!-- Mobile and Tablet -->
            <p
                class="hide-on-large-only"
                style="margin: 0; padding: 0;"
            >
                © 2022 Viktor Modroczký
            </p>
            <!-- end -->
            <!-- Desktop only -->
            <span 
                class="right hide-on-med-and-down"
            >
                Made with
                <a
                    href="https://palletsprojects.com/p/flask/"
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Flask
                </a>
                and
                <a
                    href="https://materializecss.github.io/"
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Materialize
                </a>
            </span>
            <!-- Mobile and Tablet -->
            <p 
                class="hide-on-large-only"
                style="margin: 0; padding: 0;"
            >
                Made with
                <a
                    href="https://palletsprojects.com/p/flask/"
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Flask
                </a>
                and
                <a
                    href="https://materializecss.github.io/"
                    class="blue-text text-lighten-4"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Materialize
                </a>
            </p>
            <!-- end -->
        </div>
    </div>
</footer>
{% endblock %}

{% block extra_styles %}
<style>
    header, main, footer {
        padding-left: 300px;
    }
    nav {
        width: calc(100% - 300px);
    }
    #nav-normal {
        display: none;
    }
    #nav-transparent {
        display: block !important;
    }
    img.responsive-marker {
        height: 10px;
        width: 10px;
    }
    span.action-item {
        padding-left: 8px; 
        font-size: 115%;
    }
    p.responsive-top-text {
        overflow-wrap: break-word;
        font-weight: lighter;
        font-size: 200%;
    }
    div.top-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i.responsive-top-icon {
        font-size: 32px;
    }
    a.top-icon-container {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%,-2%);
    }
    img.top-img {
        width: 520px;
    }
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
        nav {
            width: 100%;
        }
        img.responsive-marker {
            height: 8px;
            width: 8px;
        }
        span.action-item {
            padding-left: 8px; 
            font-size: 110%;
        }
        .parallax-container {
            height: 300px;
        }
        img.static-parallax {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
        p.responsive-top-text {
            font-size: 175%;
        }
        i.responsive-top-icon {
            font-size: 24px;
        }
        img.top-img {
            width: 420px;
        }
    }
    @media only screen and (max-width : 600px) {
        p.responsive-top-text {
            font-size: 140%;
        }
        img.top-img {
            width: 320px;
        }
    }
    @media only screen and (max-width : 400px) {
        p.responsive-top-text {
            font-size: 120%;
        }
        img.top-img {
            width: 220px;
        }
    }
    .contact-padding {
        padding: 8px;
    }
    .map {
        height: 256px;
        width: 100%;
        z-index: 1;
        border: 0;
    }
</style>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('.parallax').parallax();
    })
    $(document).ready(function() {
        $('.sidenav').sidenav();
    })
    $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
    })
    $(document).ready(function(){
        $('#uvod').css({
            'height': $(window).outerHeight(),
            'min-height':
                $('#nav-normal').height() + $('#p-container').height() +
                $('#details').height() + $('.top-img').height(),
        })
        $('#p-container').css('padding-bottom', $('#details').height())
    })
    $(window).resize(function(){
        $('#uvod').animate({
            'height': $(window).outerHeight(),
            'min-height':
                $('#nav-normal').height() + $('#p-container').height() +
                $('#details').height() + $('.top-img').height(),
        }, 350)
    })

    function bounce() {
        $('#details').effect('bounce', { times: 2, duration: 750, complete: bounce }).delay(5000)
    }
    $(document).ready(bounce)

    $(window).scroll(function() {
        if ($(this).scrollTop() == 0) {
            $('#fab-mobile-tablet').stop(true, false).fadeOut(500)
            $('#fab-desktop').stop(true, false).fadeOut(500)
        }
        else {
            $('#fab-mobile-tablet').fadeIn(500)
            $('#fab-desktop').fadeIn(500)
        }
    })

    $(window).scroll(function() {
        if ($(this).scrollTop() >= $('#uvod').height() - $('nav').height()) {
            $('#nav-normal').fadeIn(500)
            $('#nav-transparent').hide()
        }
        else {
            $('#nav-normal').stop(true, false).fadeOut(500)
            $('#nav-transparent').show()
        }
    })

    var controller = new ScrollMagic.Controller()
    
    var introScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#uvod'
    })
    var repairElectronicsScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#oprava-spotrebnej-elektroniky'
    })
    var repairLaptopsScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#oprava-notebookov'
    })
    var repairComputersScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#oprava-pocitacov'
    })
    var softwareScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#instalacia-softveru'
    })
    var programmingScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#programovanie-obvodov'
    })
    var sellScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#predaj'
    })
    var contactScene = new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '#kontakt'
    })

    introScene.on("enter", (event) => history.pushState(null, null, '#uvod'))
    repairElectronicsScene.on("enter", (event) => history.pushState(null, null, '#oprava-spotrebnej-elektroniky'))
    repairLaptopsScene.on("enter", (event) => history.pushState(null, null, '#oprava-notebookov'))
    repairComputersScene.on("enter", (event) => history.pushState(null, null, '#oprava-pocitacov'))
    softwareScene.on("enter", (event) => history.pushState(null, null, '#instalacia-softveru'))
    programmingScene.on("enter", (event) => history.pushState(null, null, '#programovanie-obvodov'))
    sellScene.on("enter", (event) => history.pushState(null, null, '#predaj'))
    contactScene.on("enter", (event) => history.pushState(null, null, '#kontakt'))
    
    $(document).ready(function() {
        controller.addScene([
            introScene,
            repairElectronicsScene,
            repairLaptopsScene,
            repairComputersScene,
            softwareScene,
            programmingScene,
            sellScene,
            contactScene
        ])
    })
</script>
{% endblock %}